<div>
<div>
<div>
{{ product.image }}
</div>
<h3>{{ product.name }}</h3>
<span>{{ product.price }}€ /{{ product.unit }}</span>
<span>{{ product.stock }} {{ product.unit }}</span>
<button>Modifier</button>
<button>Supprimer</button>
</div>
</div>