{% extends 'base.html.twig' %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}
	<div class="form-container">
		<h1>Rejoignez-nous</h1>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}

		<div class="form-group">
			{{ form_label(registrationForm.email) }}
			{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(registrationForm.email) }}
		</div>

		<div class="form-group">
			{{ form_label(registrationForm.plainPassword.first) }}
			{{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(registrationForm.plainPassword.first) }}
		</div>

		<div class="form-group">
			{{ form_label(registrationForm.plainPassword.second) }}
			{{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
			{{ form_errors(registrationForm.plainPassword.second) }}
		</div>

		<div class="terms__container">
			{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'checkbox'}}) }}
			{{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'terms'}}) }}
			{{ form_errors(registrationForm.agreeTerms) }}
		</div>

		<button type="submit" class="btn">S'inscrire</button>
		<p>Vous êtes déjà inscrit? <a href="{{ path('login') }}" class="link-button">Connectez-vous</a></p>

		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
