<header>
    <nav class="nav">

        <a href="{{ path('home') }}" class="logo">
            <img src="{{ asset('logo/logo_fresh_garden-removebg.png') }}" alt="logo"/>
        </a>

        <ul class="desktop-menu">
            <li>
                <a href="{{ path('app_admin_dashboard') }}">Acceuil Administrateur</a>
            </li>
            <li>
                <a href="{{ path('home') }}">Fresh Garden</a>
            </li>
            <li>
                <a href="{{ path('app_admin_user_index') }}">Utilisateurs</a>
            </li>
            <li>
                <a href="{{ path('app_admin_product_index') }}">Annonces</a>
            </li>
        </ul>

        <div id="search">
            <form action="{{ path('app_search') }}" method="get">
                <input type="text" id="search-input" name="search" placeholder="Rechercher un produit" value="{{ app.request.get('search') }}">
                <button id="search-button" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
                    </svg>
                </button>
            </form>
        </div>

        <ul class="btn-nav">
            <li>
                <button id="message-button" onclick="window.location.href='{{ path('message_index') }}'">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"/>
                    </svg>
                </button>
            </li>
            <li class="dropdown">
                <button id="connexion-button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM12 14.25c-4.97 0-9 2.29-9 5.25v1.5h18v-1.5c0-2.96-4.03-5.25-9-5.25Z"/>
                    </svg>
                </button>
                <div class="dropdown-content">
                    {% if app.user is not null and app.user is defined %}
                        <a href="{{ path('app_user_show', {id: app.user.id}) }}">Mon profil</a>
                        <a href="{{ path('logout') }}">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('login') }}">Connexion</a>
                        <a href="{{ path('register') }}">Inscription</a>
                    {% endif %}
                </div>
            </li>
        </ul>

        <div id="burger-menu" class="burger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </nav>

    <div id="mobile-menu" class="mobile-menu">
        <button id="close-menu" class="close-menu">&times;</button>

        <ul class="pages">
            <li>
                <a href="{{ path('home') }}">Acceuil</a>
            </li>
            <li>
                <a href="{{ path('app_product_fruits') }}">Fresh Garden</a>
            </li>
            <li>
                <a href="{{ path('app_product_legumes') }}">Utilisateurs</a>
            </li>
            <li>
                <a href="{{ path('app_product_autres') }}">Annonces</a>
            </li>
        </ul>
    </div>

    <ul class="sticky-buttons">
        <li>
            <button id="message-button" onclick="window.location.href='{{ path('message_index') }}'">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"/>
                </svg>
            </button>
        </li>
        <li>
            <button id="mobile-connexion-button" onclick="window.location.href='{{ path('login') }}'">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM12 14.25c-4.97 0-9 2.29-9 5.25v1.5h18v-1.5c0-2.96-4.03-5.25-9-5.25Z"/>
                </svg>
            </button>
        </li>
    </ul>
</header>