{{ form_start(form) }}
{{ form_label(form.search) }}
{{ form_widget(form.search) }}
{{ form_errors(form.search) }}

{{ form_label(form.categorie) }}
{{ form_widget(form.categorie) }}
{{ form_errors(form.categorie) }}

{#{{ form_label(form.city) }}
{{ form_widget(form.city) }}
{{ form_errors(form.city) }}#}

<label>Prix</label>
{{ form_widget(form.minPrice) }}
{{ form_errors(form.minPrice) }}

{{ form_widget(form.maxPrice) }}
{{ form_errors(form.maxPrice) }}


<button type="submit">
    Recherchez
</button>

{{ form_end(form) }}