<div class="form-container">
    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

    <h2>
        {% if product is defined %}
            Mise à jour {{ product.name }}
        {% else %}
            Nouvelle annonce
        {% endif %}
    </h2>

    <div class="form-group">
        {{ form_label(form.categorie) }}
        {{ form_widget(form.categorie, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.categorie) }}
    </div>

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.price) }}
        {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.price) }}
    </div>

    <div class="form-group">
        {{ form_label(form.unit) }}
        {{ form_widget(form.unit, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.unit) }}
    </div>

    <div class="form-group">
        {{ form_label(form.stock) }}
        {{ form_widget(form.stock, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.stock) }}
    </div>

    <div class="form-group">
        {{ form_label(form.image) }}
        {{ form_widget(form.image, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.image) }}
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            {% if product is defined %}
                Mettre à jour
            {% else %}
                Ajouter
            {% endif %}
        </button>
    </div>

    {{ form_end(form) }}
</div>
