{% extends 'base.html.twig' %}

{% block title %}Envoyer un message{% endblock %}

{% block body %}
    <main>
        <section>
            <h1>Messagerie</h1>
            <h2>{{ message.title }}</h2>
            <p>Message de {{ message.sender.email }}</p>
            <p>Le {{ message.createdAt }}</p>
            <div>{{ message.message }}</div>

            <div>
                <a href="{{ path('/message') }}">Retour aux messages</a>
            </div>
        </section>
    </main>

{% endblock %}
