{% extends 'base.html.twig' %}

{% block title %}Envoyer un message{% endblock %}

{% block body %}
    <main>
        <section>
            <div class="form-container">
                <h1>Envoyer un message à {{ recipient.userProfile.userName ? recipient.userProfile.userName : recipient.userProfile.firstName }}</h1>

                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.title) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.message) }}
                </div>

{#                <div class="form-group">#}
{#                    <button type="submit" class="btn">{{ form.submit.vars.label }}</button>#}
{#                </div>#}

                {{ form_end(form) }}

                <div class="form-footer">
                    <a href="{{ path('message_index') }}" class="btn">Retour aux messages</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
