{% extends 'admin/base_admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <h2>Utilisateurs actifs</h2>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            {% if not user.isBanned %}
                <tr>
                    <td>{{ user.userProfile.userName }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="{{ path('app_admin_user_show', {'id': user.id}) }}">Voir</a>
                        <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Éditer</a>
                        <a href="{{ path('app_admin_user_ban', {'id': user.id}) }}">
                            Bannir
                        </a>
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <h2>Utilisateurs bannis</h2>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for bannedUser in bannedUsers %}
            <tr>
                <td>{{ bannedUser.userProfile.userName }}</td>
                <td>{{ bannedUser.email }}</td>
                <td>
                    <a href="{{ path('app_admin_user_show', {'id': bannedUser.id}) }}">Voir</a>
                    <a href="{{ path('app_admin_user_edit', {'id': bannedUser.id}) }}">Éditer</a>
                    <a href="{{ path('app_admin_user_ban', {'id': bannedUser.id}) }}">
                        Débannir
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
