{% extends 'base.html.twig' %}

{% block title %}Modifier Profil{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>Modifier les informations de l'utilisateur</h1>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.email) }}
        </div>

        <div class="profile-image-container">
            <img id="profile-image" class="profile-image" src="{{ vich_uploader_asset(app.user.userProfile, 'imageFile') }}" alt="Photo de profil">
        </div>

        <button type="submit" class="btn">Mettre à jour</button>
        {{ form_end(form) }}

        <button id="delete-image" class="btn btn-danger">Supprimer l'image</button>

        <!-- Bouton pour modifier le mot de passe -->
        <div class="form-footer">
            <a href="{{ path('app_user_edit_user_password', {'id': app.user.id}) }}" class="btn btn-primary">Modifier mon mot de passe</a>
        </div>
    </div>
{% endblock %}
