{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations de contact{% endblock %}

{% block body %}
    <h1>Modifier mes informations de contact</h1>

    <!-- Formulaire de modification d'email -->
    <div class="form-container">
        <h2>Modifier mon Email</h2>
        {{ form_start(emailForm) }}
        {{ form_row(emailForm.old_email) }}
        {{ form_row(emailForm.email) }}
        {{ form_end(emailForm) }}
    </div>

    <!-- Formulaire de modification du numéro de téléphone -->
    <div class="form-container">
        <h2>Modifier mon Numéro de Téléphone</h2>
        {{ form_start(phoneForm) }}
        {{ form_row(phoneForm.old_phone) }}
        {{ form_row(phoneForm.new_phone) }}
        {{ form_end(phoneForm) }}
    </div>
{% endblock %}
