{% extends 'base.html.twig' %}

{% block title %}Modifier Profil{% endblock %}

{% block body %}
    <h1>Modifier les informations de l'utilisateur</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Mettre à jour</button>
    {{ form_end(form) }}

    {% if app.user.userProfile and app.user.userProfile.imageFile %}
        <img src="{{ vich_uploader_asset(app.user.userProfile, 'imageFile') }}" alt="Photo de profil">
    {% else %}
        <img src="{{ asset('path/to/default/image.png') }}" alt="Image par défaut">
    {% endif %}
{% endblock %}
