{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
    <h1>Modifier le mot de passe</h1>

    <div class="form-container">
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.current_password) }}
        </div>

        <div class="form-group">
            {{ form_label(form.new_password) }}
            {{ form_widget(form.new_password, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.new_password) }}
        </div>

        <div class="form-group">
            {{ form_label(form.confirm_password) }}
            {{ form_widget(form.confirm_password, { 'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.confirm_password) }}
        </div>

        <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>

        {{ form_end(form) }}
    </div>

{% endblock %}
